body,html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
#root {
    display: flex;
    background: #e5e5e5;
    width: 100%;
    height: 100%;
}
.app {
    width: 100%;
    height: 100%;
    background: url('./assets/imgs/bg.jpeg') no-repeat center;
    background-size: 100% 100%;
}
.login-box {
    width: 500px;
    height: 300px;
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translate3d(0,-50%,0);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgb(0 0 0 / 65%) 0 0px 10px;
}
.login-box .title {
    width: 100%;
    font-size: 16px;
    text-align: center;
}
.login-box .username, .login-box .password {
    margin-bottom: 20px;
}
.login-btn {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
}
.helper {
    display: flex;
    justify-content: space-between;
    height: 28px;
    font-size: 12px;
    color: #1890ff;
}
.helper-item {
    cursor: pointer;
}
.helper-item:hover{
    text-decoration: underline;
}
.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}